<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lifesavings.activities" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name_edit" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SavingsProfile"
            android:label="@string/title_activity_exercise_stats" >
        </activity>
        <activity
            android:name=".FoodActivity"
            android:label="@string/title_activity_food" >
        </activity>
        <activity
            android:name=".EditProfileActivity"
            android:label="@string/title_activity_profile" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".SignOutActivity"
            android:label="@string/title_activity_sign_out" >
        </activity>
        <activity
            android:name=".RecordExerciseActivity"
            android:label="@string/title_activity_record_exercise" >
        </activity>
        <activity
            android:name=".EditExerciseActivity"
            android:label="@string/title_activity_edit_exercise" >
        </activity>
    </application>

</manifest>
